body {
    background: lightyellow;
    background: url('../../assets/Images/caliseBackground.jpg');
    background-position: top;
    min-height: 100%;
    position: relative;
}

.container-fluid {
    margin-top: 0;
    float: left;
    color: white;
    border-bottom: 2px solid black;
    width: 100%;
    background:	#A89378;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
div > a, li > a {
    background-color: lightsalmon;
    margin: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2.5px 2.5px;
}
div > a {
    color: black;
    margin: 2em 6em;
    padding: 7px;
}
li > a {
    color: white;
    margin-top: 2.5em;
}
.top-nav {
    margin-left: 5em;
    background: gray;
}
.top-nav > li {
    /* margin-left: 5px;
    margin-right: 5px; */
}
.navbar-brand {
    padding: 1em;
    padding-bottom: 3em;
    margin-left: 5em;
    margin-top: 1.5em;
}
.social {
    float: right;
    margin-left: 15em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 15px;
    border-radius: 50%
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
    }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa-linkedin:before {
    content: "\f0e1";
}
.row {
    background-color: white;
    border-radius: 10px;
    border: 2px solid silver;
}

/* Below the header */
.main-header {
    font-size: 36px;
    text-align: center;
}
.buttons {
    display: flex;
    text-align: center;
    justify-content: center;
}
.inside > h5 {
    text-align: center;
}
.stuff > p {
    font-size: 20px;
    background: lightseagreen;
    color: white;
    font-family: 'Dosis';
    border-radius: 15px;
    border: 2px solid black;
}
.stuff > img {
    max-width: 20em;
    margin-left: 30px;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
}
.facet > h2 {
    background: #7A7A78;
    border-radius: 30px;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.facet > h2:hover {
    background: white;
    color: gray;
    cursor: pointer;
}
.coder-image {
    max-width: 23em;
}

.stuff {
    display: none;
}
.open {
    display: inline-block;
}
ul > li {
    list-style-type: none;
    text-align: center;
    margin-left: -50px;
}
#subsection {
    margin-bottom: 25px;
}
/* Footer */
footer {
    color: black;
    position: relative;
    /* height: 2.5rem;  */
    top: 20em;
    border-top: 2px solid black;
    margin-top: 15px;
    padding-top: 0;
}
.bottom-nav {
    background: #A89378;
    /* border-top: 2px solid black; */
    
}
.bottom-nav > li {
    color: black;
    padding-bottom: 1em;
}
#travel > a, 
#homepage > a, 
#originals > a {
    color: black;
    margin-left: 100px;
    margin-right: 100px;
}

